{% extends "base.html" %}
{% block content %}
    <body class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col h-screen bg-gray-50 dark:bg-gray-900">
        <div id="theme-toggle-container" class="bg-gray-50 dark:bg-gray-900 border-red-700 border">
            <button id="theme-toggle" type="button"
                    class="bg-gray-50 dark:bg-gray-900 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none rounded-lg text-sm p-2.5 dark:border-gray-900">
                <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                </svg>
                <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                          fill-rule="evenodd" clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
        <!-- the choose file dialog + comment box flex left side -->

        <div class="flex flex-auto flex-col space-y-6 border-red-700 border w-fit max-w-[480px] p-6 ml-6 bg-white dark:bg-gray-800 rounded-lg duration-300">
            <h2 class="p-2 text-xl font-semibold text-gray-900 text-white dark:text-white border-red-700 border text-center bg-blue-700 rounded-lg">
                File submission</h2>
            <!-- the choose file UPLOAD FORM -->
            <!-- upload boxes-->
            <div class="flex flex-row flex-auto justify-end border border-orange-700 max-h-32 space-x-6">

                <div class="flex items-center justify-center w-3/5">
                    <label for="raw_counts_dropzone"
                           class="transition-all flex flex-col items-center justify-center text-center h-32 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
                           id="raw_counts_div"
                            ondrop="dropHandler(this.file);">
                        <div class="flex flex-col items-center justify-center p-4 pt-5 pb-6"
                             method="get">
                            <p class="text-sm text-gray-500 dark:text-gray-400 w-40 text-ellipsis overflow-hidden"
                               id="raw_counts_text"> Click or drag to <span
                                    class="font-semibold">upload raw counts</span></p>
                        </div>
                        <input id="raw_counts_dropzone" type="file" class="hidden"/>
                    </label>
                </div>

                <div class="flex items-center justify-center w-3/5">
                    <label for="plate_diagram_dropzone"
                           class="transition-all flex flex-col items-center justify-center text-center h-32 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
                           id="plate_diagram_div">
                        <div class="flex flex-col items-center justify-center p-4 pt-5 pb-6">
                            <p class="text-sm text-gray-500 dark:text-gray-400 w-40 text-ellipsis overflow-hidden"
                                 id="plate_diagram_text"
                            >Click or drag to <span
                                    class="font-semibold">upload plate diagram</span></p>
                        </div>
                        <input id="plate_diagram_dropzone" type="file" class="hidden"/>
                    </label>
                </div>

            </div>
            <!-- end upload boxes-->

            <!-- start checkboxes -->
            <div class="flex flex-row space-x-6 h-72 w-full border border-red-700 items-start">

                <div class="flex flex-col text-white border-red-700 border justify-evenly items-center w-3/5 p-4 gap-y-4">
                    <div class="flex items-center mb-4">
                        <input id="default-checkbox" type="checkbox" value=""
                               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default
                            checkbox</label>
                    </div>
                    <div class="flex items-center mb-4">
                        <input id="default-checkbox" type="checkbox" value=""
                               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default
                            checkbox</label>
                    </div>
                    <div class="flex items-center mb-4">
                        <input id="default-checkbox" type="checkbox" value=""
                               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default
                            checkbox</label>
                    </div>
                                        <div class="flex items-center mb-4">
                        <input id="default-checkbox" type="checkbox" value=""
                               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default
                            checkbox</label>
                    </div>
                                        <div class="flex items-center mb-4">
                        <input id="default-checkbox" type="checkbox" value=""
                               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default
                            checkbox</label>
                    </div>
                </div>

                <div class="flex flex-col text-white border-red-700 border justify-evenly items-center gap-y-4 w-3/5 p-4">
                    <div class="flex items-center mb-4">
                        <input id="default-checkbox" type="checkbox" value=""
                               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default
                            checkbox</label>
                    </div>
                    <div class="flex items-center mb-4">
                        <input id="default-checkbox" type="checkbox" value=""
                               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default
                            checkbox</label>
                    </div>
                    <div class="flex items-center mb-4">
                        <input id="default-checkbox" type="checkbox" value=""
                               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default
                            checkbox</label>
                    </div>
                                        <div class="flex items-center mb-4">
                        <input id="default-checkbox" type="checkbox" value=""
                               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="default-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default
                            checkbox</label>
                    </div>
                </div>

            </div>

            <!-- end checkboxes -->

            <!-- the ORIGINAL, LINKED choose file dialog -->
            {#            <div class="flex flex-row justify-end w-fit border-red-700 border pt-2">#}
            {#                <form id="form" method="get">#}
            {#                    <input type="file" name="file"#}
            {#                           class="text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"/>#}
            {#                    <button type="submit"#}
            {#                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">#}
            {#                        Submit File#}
            {#                    </button>#}
            {#                </form>#}
            {#            </div> #}

            <!-- END OF the ORIGINAL, LINKED choose file dialog -->

            <!-- the comment box -->
            <div class="">
                <div class="flex flex-col h-fit border-red-700 border">
                    <div class="">
                        <label for="message"></label><textarea id="message"
                                                               class="resize-none w-full p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 transition-colors duration-300 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                               placeholder="Add a comment..."></textarea>
                    </div>
                    <div class="">
                        <button type="submit"
                                class="pointer-events-none w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 dark:bg-gray-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                            Submit
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <!-- table -->
        <style>
            .no-scrollbar::-webkit-scrollbar {
                display: none;
            }
        </style>
        <div class="hidden absolute top-11 right-0 bottom-5 max-h-screen border-red-700 border rounded-lg right-6 overflow-auto no-scrollbar w-fit max-w-lg transition-all duration-200">
            <div class="transition-all duration-300">
                <table id="data"
                       class="right-0 text-sm text-gray-500 dark:text-gray-400 animated fadeIn">
                    <caption
                            class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                        Uploads
                        <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Scroll to browse qPCR
                            uploads and related info - click an upload for more details.</p>
                        <thead class="rounded-lg">

                        <tr>
                            <th class="w-56 break-all sticky top-0 px-3 py-3 bg-blue-700 hover:bg-blue-800 text-white text-md">
                                File name
                            </th>
                            <th class="w-56 break-all sticky top-0 px-3 py-3 bg-blue-700 hover:bg-blue-800 text-white text-md">
                                Date uploaded
                            </th>

                        </tr>
                        </thead>
                        <tbody class="h-96">
                        {% for entry in uploads %}
                            <tr class="dark:bg-gray-800 dark:border-gray-700 break-after-auto">
                                <td class="w-[200px] break-all px-3 py-2 font-medium text-gray-900 dark:text-white">
                                    {{ entry.name }}</td>
                                <td class="w-[200px] break-all px-3 py-2">
                                    {{ entry.time }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                </table>
            </div>
        </div>
        <!-- end table -->

        {# Script for updated table on submit of file#}
        <script type="text/javascript">
            window.onload = function () {
                const mainForm = document.getElementById("form");

                mainForm.addEventListener("submit", function (event) {
                    event.preventDefault();

                    const formData = new FormData(mainForm);

                    const fileInput = document.querySelector('input[type="file"]');
                    const files = fileInput.files;

                    for (let i = 0; i < files.length; i++) {
                        const file = files[i];
                        if (!formData.getAll('file').includes(file)) {
                            formData.append("file", file);
                        }
                    }

                    fetch("/process", {
                        method: "POST",
                        body: formData,
                    })
                        .then((response) => {
                            if (response.ok) {
                                return response.json();
                            } else {
                                throw new Error("Error uploading file");
                            }
                        })
                        .then((data) => {
                            const tableBody = document.querySelector("#data tbody");
                            tableBody.innerHTML = data.update_table;

                            // Reset file input value (clears selected files)
                            fileInput.value = "";
                        })
                        .catch((error) => {
                            console.error(error);
                        });
                });
            };
        </script>

        <script>
            // Script for file upload validation


            // Dimension requirements for each file
            const rawCountsDimensions = "96x16";
            const plateDiagramDimensions = "8x13";

            // Set up upload, div, and text elements to modify
                // Raw counts variables
            const rawCountsFileTextDiv = document.getElementById("raw_counts_text");
            const rawCountsFileUpload = document.getElementById("raw_counts_dropzone");
            const rawCountsFileDiv = document.getElementById("raw_counts_div");

                // Plate diagram variables
            const plateDiagramFileTextDiv = document.getElementById("plate_diagram_text");
            const plateDiagramFileUpload = document.getElementById("plate_diagram_dropzone");
            const plateDiagramFileDiv = document.getElementById("plate_diagram_div");



            rawCountsFileUpload.addEventListener("change", function () {
                const file = rawCountsFileUpload.files[0];
                const formData = new FormData();
                formData.append('file', file);

                fetch('/validate_file/'+rawCountsDimensions, {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.dimensions_valid) {

                            // Changing background to green
                                //Removing red and original background
                            rawCountsFileDiv.classList.remove('bg-red-400')
                            rawCountsFileDiv.classList.remove('dark:bg-red-600');
                                // Adding green background
                            rawCountsFileDiv.classList.add('bg-green-400')
                            rawCountsFileDiv.classList.add('dark:bg-green-500');

                            // Changing hover to darker green
                                // Removing original and red hover
                            rawCountsFileDiv.classList.remove("hover:bg-gray-100")
                            rawCountsFileDiv.classList.remove("dark:hover:bg-gray-800")
                            rawCountsFileDiv.classList.remove("hover:bg-red-400")
                            rawCountsFileDiv.classList.remove("dark:hover:bg-red-600")
                                // Adding green hover
                            rawCountsFileDiv.classList.add("hover:bg-green-500")
                            rawCountsFileDiv.classList.add("dark:hover:bg-green-600")

                            // Changing text to say that (file name) is valid and ready for submission
                            rawCountsFileTextDiv.innerHTML = data.file_name + ' is valid and ready to be submitted';

                            // Changing text to white
                            rawCountsFileTextDiv.classList.remove('text-gray-500')
                            rawCountsFileTextDiv.classList.add('text-white')
                            rawCountsFileTextDiv.classList.add('dark:text-white');

                        } else {

                            // Changing background to red
                            rawCountsFileDiv.classList.remove('bg-green-400')
                            rawCountsFileDiv.classList.add('bg-red-400');
                            rawCountsFileDiv.classList.add('dark:bg-red-600');

                            // Changing text to white
                            rawCountsFileTextDiv.classList.remove('text-gray-500');
                            rawCountsFileTextDiv.classList.add('text-white');
                            rawCountsFileTextDiv.classList.add('dark:text-white');

                            // Changing hover to darker red
                            rawCountsFileDiv.classList.remove("hover:bg-gray-100")
                            rawCountsFileDiv.classList.remove("dark:hover:bg-gray-800")
                            rawCountsFileDiv.classList.add("hover:bg-red-500")
                            rawCountsFileDiv.classList.add("dark:hover:bg-red-600")


                            rawCountsFileTextDiv.innerHTML = data.file_name + " is invalid. Excel file must be 96 x 16, but is " + data.file_length + " x " + data.file_width;
                        }
                    });
            })

            plateDiagramFileUpload.addEventListener("change", function () {
                const file = plateDiagramFileUpload.files[0];
                const formData = new FormData();
                formData.append('file', file);

                fetch('/validate_file/'+plateDiagramDimensions, {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.dimensions_valid) {

                            // Changing background to green
                                //Removing red and original background
                            plateDiagramFileDiv.classList.remove('bg-red-400')
                            plateDiagramFileDiv.classList.remove('dark:bg-red-600');
                                // Adding green background
                            plateDiagramFileDiv.classList.add('bg-green-400')
                            plateDiagramFileDiv.classList.add('dark:bg-green-500');

                            // Changing hover to darker green
                                // Removing original and red hover
                            plateDiagramFileDiv.classList.remove("hover:bg-gray-100")
                            plateDiagramFileDiv.classList.remove("dark:hover:bg-gray-800")
                            plateDiagramFileDiv.classList.remove("hover:bg-red-400")
                            plateDiagramFileDiv.classList.remove("dark:hover:bg-red-600")
                                // Adding green hover
                            plateDiagramFileDiv.classList.add("hover:bg-green-500")
                            plateDiagramFileDiv.classList.add("dark:hover:bg-green-600")

                            // Changing text to say that (file name) is valid and ready for submission
                            plateDiagramFileTextDiv.innerHTML = data.file_name + ' is valid and ready to be submitted';

                            // Changing text to white
                            plateDiagramFileTextDiv.classList.remove('text-gray-500')
                            plateDiagramFileTextDiv.classList.add('text-white')
                            plateDiagramFileTextDiv.classList.add('dark:text-white');
                        } else {

                            // Changing background to red
                            plateDiagramFileDiv.classList.remove('bg-green-400')
                            plateDiagramFileDiv.classList.add('bg-red-400');
                            plateDiagramFileDiv.classList.add('dark:bg-red-600');

                            // Changing text to white
                            plateDiagramFileTextDiv.classList.remove('text-gray-500');
                            plateDiagramFileTextDiv.classList.add('text-white');
                            plateDiagramFileTextDiv.classList.add('dark:text-white');

                            // Changing hover to darker red
                            plateDiagramFileDiv.classList.remove("hover:bg-gray-100")
                            plateDiagramFileDiv.classList.remove("dark:hover:bg-gray-800")
                            plateDiagramFileDiv.classList.add("hover:bg-red-500")
                            plateDiagramFileDiv.classList.add("dark:hover:bg-red-600")

                            plateDiagramFileTextDiv.innerHTML = data.file_name + " is invalid. Excel file must be 96 x 16, but is " + data.file_length + " x " + data.file_width;
                        }
                    });
            })
        </script>

    <div class="hidden bg-red"
    id="testing"></div>

    </div>
    </body>
{% endblock %}
