<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind Flask</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='dist/css/output.css') }}">
</head>

<body>




<!-- Area to upload files using HTMX -->
{#<div class="flex items-center justify-center w-1/2 absolute -translate-y-1/2 -translate-x-1/2 top-2/4 left-1/2">#}
{#    <label for="file"#}
{#           class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">#}
{#        <div class="flex flex-col items-center justify-center pt-5 pb-6">#}
{#            <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor"#}
{#                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">#}
{#                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"#}
{#                      d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path>#}
{#            </svg>#}
{#            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Drag and drop some files</span>#}
{#                or click to upload</p>#}
{#            <p class="text-xs text-gray-500 dark:text-gray-400"></p>#}
{#        </div>#}
{#        <form action="/" method="POST" enctype="multipart/form-data">#}
{#            <input id="file" name="file" type="file" class="hidden" hx-post="change"/>#}
{#        </form>#}
{#    </label>#}
{#</div>#}
{##}
{#<!-- HTMX library -->#}
{#<script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>#}
{##}
{#</body>#}
{#</html>#}
