{% extends "base.html" %}

{% block content %}
    <div class="flex center-justified">
        <form id='form' method="get">
            <input type='file' name='file' multiple>
            <button type="submit" class="btn btn-primary">
                Upload
            </button>
            <progress id='progress' value='0' max='100'></progress>
        </form>
    </div>


<script type="text/javascript">
window.onload = function () {
  const mainForm = document.getElementById('form');
  mainForm.onsubmit = function(event) {
    event.preventDefault();
    const formData = new FormData(mainForm);

    // Get the files input element
    const fileInput = document.querySelector('input[type="file"]');
    // Get the selected files
    const files = fileInput.files;

    // Loop through the selected files and append each one to the form data
    for (let i = 0; i < files.length; i++) {
      formData.append('file[]', files[i]);
    }

    fetch("/process", {
      method: "POST",
      body: formData
    })
    .then(response => {
      if (response.ok) {
        return response.json();
      } else {
        throw new Error('Error uploading file');
      }
    })
    .then(data => {
      // Update the table with the new HTML
      const tableBody = document.querySelector('#data tbody');
      tableBody.innerHTML = data.table_html;
    })
    .catch(error => {
      console.error(error);
    });
  }
}

</script>

    <!-- table -->
    <div class="flex justify-center">
        <table id="data" class="table-auto">
            <thead>
            <tr>
                <th>File name</th>
                <th>Date uploaded</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in uploads %}
                <tr>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
